body{
    background: #B1D4E0 !important;
}

label{
    color: #ACACAC;
}

.test{
    border: 2px solid black;
}

.card-title{
    font-size: 30px;
    font-weight: 700;
}

.btn{
    color: #fff !important;
    width: fit-content;
    margin: 0 auto;
}

.btn-google{
    background-color: #fff;
    color: black !important;
}