@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --mainColor:#145DA0;
    --btnColor:#2E8BC0;

}

body{
    font-family: 'Poppins', sans-serif !important;
}

body a{
    text-decoration: none;
}

.actv{
    background-color: var(--mainColor) !important;
}

.hidden{
    display: none;
}

.test{
    border: black 2px solid;
}

.navbar{
    transition: 0.3s;
}

.navbar .w-icon{
    width: 80px;
}

.navbar .nav-item .nav-link{
    font-size: 20px;
    margin: 0 20px !important;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s ease

}


.navbar .nav-item .nav-link:hover{
    color: #007bff;
    border-bottom: 2px solid #007bff;
}

.navbar .nav-item .nav-link:hover:before{
    width: 100%;
    left: 0;
}


.navbar .nav-item .btn-login{
    font-size: 20px;
    padding: 5px 20px;
    margin-top: 13px !important;
}  

.navbar .nav-item .btn-login:hover{
    background: rgba(0, 123, 255, .2);
    transition: .3s;
    border: none;
}

.navbar .nav-item .btn-register{
    font-size: 18px;
    padding: 5px 20px;
    margin-top: 13px !important;
    min-width: max-content;
}

.navbar .nav-item .btn-register:hover{
    color: #fff !important;
    background: #007bff;
    border: #007bff 1px solid !important;
}

.active{
    /* color: #cdcdcd !important; */
    color: #007bff !important;
    border-bottom: #007bff 3px solid !important;
}


.icon{
    width: 40px;
    height: 40px;

}

.price{
    font-size: 20px;
    font-weight: 700;
}

.price s{
    color: #818181;
}

.price-dc{
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #818181;
}

.bg-green{
    background-color: #33af7d !important;
}

.bg-scs{
    background-color: #00df30;
}

.bg-yellow{
    background-color: #ffc007 !important;
}

.bg-blue{
    background-color: #3c91e6 !important;
}

.bg-red{
    background-color: #ff1f1f !important;
}

.rd{
    color: #ff1f1f !important;
}

.b-5{
    font-weight: 500;
}


#main {
    width: 100%;
    padding: 0;
    /* background: rgb(0,123,255); */
    background: linear-gradient(180deg, rgba(0,123,255,.3) 10%, rgba(255, 255, 255, 0.1) 50%);
}


#main .main-img{
    width: 500px;
}
#main .hero-content{
    padding-top: 16vh;
    margin: 0 auto;
}

#main .hero-content h2{
    line-height: 1.5;
}

#main .hero-content p{
    color: #3b566e;
    font-size: 20px;
    font-weight: 500;
}

#main .hero-content .btn{
    color: var(--btnColor);
    font-size: 20px;
    font-weight: 350;
    border-color: var(--btnColor);
}

#main .hero-content .btn:hover{
    color: #fff;
    background: var(--btnColor);
}

#main-content p{
    font-size: 18px;
}

#main-content .layanan{
    background: rgba(206, 239, 255, .3);
    padding-top: 40px;
}

#main-content .layanan .header{
    width: fit-content;
    margin: 0 auto;
}

#main-content .layanan h2{
    font-weight: 600;
    color: #3b566e;
}

.layanan h2 span{
    color: var(--mainColor);
}

#main-content .layanan .under-ln{
    background: #ffb700;
    width: 230px;
    height: 3px;
    margin-left: 150px;
}

#main-content .layanan .box{
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    max-width: 1200px;
    margin: 0 auto;
}

#main-content .layanan .box .btn{
    color: #3b566e;
    border-color: #3b566e !important;
    width: 200px;

}

#main-content .layanan .box .btn:hover{
    color: #fff;
    background: #3b566e;
}

#main-content .layanan .thumbnail{
    max-width: 400px;
    max-height: 400px;
}

#main-content .layanan h3{
    font-weight: 600;
    color: #3b566e;
}

#main-content .layanan .yel-ln{
    background: #ffb700;
    width: 80px;
    height: 3px;
}

#main-content .benefit{
    padding-top: 70px;
}

#main-content .benefit h2{
    margin: 0 auto;
    max-width: 800px;
    font-weight: 600;
    color: #3b566e;
}

#main-content .benefit .col{
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto !important;
}

#main-content .benefit .box{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    margin: 0 2px;

    max-width: 600px;
    min-width: 300px;
}

#main-content .benefit h5{
    color: var(--mainColor);
    font-weight: 600;
}

#main-content .benefit img{
    max-width: 200px;
}


#main-content .testi{
    background: #2a7dca;
    padding: 70px 0;
}

#main-content .testi h2{
    color: #fff;
    font-weight: 600;
    margin-bottom: 60px;
}


#main-content .testi .cntnr{
    margin: 0 auto;
}

#main-content .slick-slide .item {
    width: 340px !important;
    min-height: 340px !important;
    background: #fff;
    background-image: url('./assets/icon-quote.png');
    background-repeat: no-repeat;
    background-position-x: 280px;
    background-position-y: 20px;

}

#main-content .slick-slide .item img{
    width: 45px;
}

#main-content .slick-slide .item .message{
    max-width: 300px;
    color: #3b566e;
    font-weight: 400;
}

#main-content .slick-slide .item .profile{
    margin-top: 90px;
}

#main-content .slick-slide .item h5{
    font-weight: 600;
    font-size: 18px;
    /* margin-top: 80px; */
}

#main-content .slick-slide .item .title-profile{
    color: #3b566e;
    font-size: 15px;
    font-weight: 600;
    line-height: .1;
}

#main-content .upcoming{
    background: #EFF5FB;
    padding-top: 70px;
}

#main-content .upcoming h2{
    background: #EFF5FB;
    font-weight: 600;
    color: #3b566e;
}

#main-content .upcoming .content{
    background: #fff;
    width: 302px;
    border-radius: 15px;
}

#main-content .upcoming .content img{
    width: 300px;
    height: 320px;
    border-radius: 15px 15px 0 0;
}

#main-content .upcoming .content h3{
    font-size: 20px;
    font-weight: 600;
}


#main-content .reading-test{
    position: relative;
}

#main-content .reading-test::before{
    content: "";
    background: url('./assets/wave.png') no-repeat; /* Ganti 'gambarmu.jpg' dengan URL gambar latar belakangmu */
    background-size: 100% 350px;
    opacity: 0.2; /* Sesuaikan tingkat opasitas sesuai kebutuhan */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#main-content .reading-test .container{
    position: relative;
    z-index: 1;
}


#main-content .reading-test h2{
    font-weight: 600;
    color: #4C4C4C;
    padding-top: 130px;
}

#main-content .reading-test img{
    width: 500px;
}

#main-content .reading-test a{
    color: var(--btnColor);
    font-size: 20px;
    border-color: var(--btnColor);
}

#main-content .reading-test a:hover{
    color: #fff;
    background: var(--btnColor);
}

#main-content .reading-test a img{
    width: 20px;
}


@media (max-width: 1200px){
    /* #main-content .slick-slide img {
        max-width: 280px !important;
    } */
    #main-content .slick-slide .item {
        width: 300px !important;
        background: #fff;
        background-image: url('./assets/icon-quote.png');
        background-repeat: no-repeat;
        background-position-x: 250px;
        background-position-y: 20px;
    }
}

@media (max-width: 1000px) {
    
    #main-content .layanan .under-ln{
        width: 210px;
        height: 3px;
        margin-left: 140px;
    }
    
    /* #main-content .testi .cntnr{
        width: 800px !important;
    }

    #main-content .slick-slide .item {
        width: 280px !important;
        background: #fff;
        background-image: url('./assets/icon-quote.png');
        background-repeat: no-repeat;
        background-position-x: 230px;
        background-position-y: 20px;
    } */

    /* #main-content .slick-slide img {
        width: 180px !important;
    } */
}

@media (max-width: 800px) {
    
    #main-content .layanan .under-ln{
        width: 190px;
        height: 3px;
        margin-left: 128px;
    }

    /* #main-content .testi .cntnr{
        width: 650px !important;
    }

    #main-content .slick-slide .item {
        width: 250px !important;
        background: #fff;
        background-image: url('./assets/icon-quote.png');
        background-repeat: no-repeat;
        background-position-x: 200px;
        background-position-y: 20px;
    } */

    /* #main-content .slick-slide img {
        max-width: 180px;
    } */


}

@media (max-width: 700px) {
    #main .r-content{
        display: none;
    }

    #main-content .layanan .under-ln{
        background: var(--mainColor);
        width: 178px;
        height: 3px;
        margin-left: 118px;
    }

    #main-content .testi .cntnr{
        max-width: 300px;
    }

    /* #main-content .slick-slide img {
        width: 300px !important;
    } */

}

/* ============= Layanan =============== */

#jasa-sunting,
#kelas-sunting,
#jasa-kepewaraan,
#kelas-kepewaraan{
    margin-top: 80px;
}


#layanan .header h2{
    font-size: 30px;
    font-weight: 700;
}

#layanan .header p{
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
}

#layanan .title h3{
    font-weight: 600;
    font-size: 26px;
}

#layanan .title p{
    font-size: 16px;
    color: #3b566e;
}

#layanan .help-contact{
    background:rgba(42, 125, 202, 0.7);
}

#layanan .help-contact h2{
    font-weight: 600;
    font-size: 26px;
    color: #fff;
}

#layanan .help-contact .btn{
    background:#2a7dca;
}

#layanan .help-contact .btn:hover{
    background: #2472ba;
    color: #fff;
}

#layanan .btn{
    color: #fff;
    background-color: var(--btnColor);
    font-size: 18px;
    width: 230px;
}

#layanan .box-layanan{
    max-width: 290px;
    height: 400px;
    margin: 0 auto;
}

#layanan .box-layanan .clr-block{
    border-radius: 10px 10px 0 0;
    height: 20px;
}

#layanan .box-layanan .ln{
    max-width: 260px;
    height: 1px;
    background: #b7b7b7;
    margin: 0 auto;
}

#layanan .box-layanan ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 160px;
}

#layanan .box-layanan ul li{
    background: url('./assets/check.png') no-repeat left top;
    background-size: 18px;
    padding-left: 35px;
    font-size: 16px;
    line-height: 1;
    max-width: 230px;
    height: 45px;
}

#layanan .box-layanan a{
    font-size: 18px;
    font-weight: 600;
}

#layanan .wraper{
    background:#2a7dca;
}

#layanan .description{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

#layanan .description h2{
    font-weight: 600;
}   


#layanan .description p{
    font-size: 18px;
    max-width: 900px;
    margin: 0 auto;
    border-color: #000;

}


/* ============= Detail Layanan =============== */

#det-layanan .nav{
    background: var(--mainColor);
    height: 50px;
}

#det-layanan .main-cntn{
    margin-bottom: 126px;
}

#det-layanan .title{
    color: #fff;
}

#det-layanan .clr-b{
    color: var(--mainColor);
    font-size: 20px;
    font-weight: 700;
}

#det-layanan .clr-d{
    font-size: 20px;
    font-weight: 700;
}

#det-layanan .l-cntn ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#det-layanan .l-cntn ul li{
    background: url('./assets/check.png') no-repeat left top;
    background-size: 18px;
    background-position-y: 5px;
    padding-left: 35px;
    font-size: 18px;
}

#det-layanan .btn{
    background: var(--btnColor);
    color: #fff;
    font-weight: 500;
}

@media (max-width: 800px) {
    
    #det-layanan .lcnt{
        width: 300px;
    }
}



/* ============= User =============== */


#user .user-profile img{
    width: 120px;
    height: 120px;
}

#user .user-profile p{
    font-size: 25px;
}

#user .user-profile .btn{
    font-size: 18px;
    color: var(--btnColor);
    border: var(--btnColor) 2px solid;
}

#user h2{
    font-size: 28px;
    font-weight: 700;
}

#user a{
    color: #000;
}

#user .col-md-4{
    width: 350px !important;
}

#user .riwayat-pembelian .col-md-5{
    width: 420px !important;
}

#user .card{
    margin: 0 auto;
}

#user .live-thumbnail{
    width: 300px;
    height: 360px;
}

#user .live-class a{
    background: #ff3b19 !important;
    color: #fff;
    border: none;
}

#user .live-class h5{
    font-size: 18px;
    font-weight: 600;
}

#user .kelas h5{
    font-weight: 600;
}

#user .kelas p{
    font-size: 14px;
}

#user .riwayat-pembelian .box-layanan{
    width: 400px;
    min-height: 210px;
    max-height: fit-content;
    margin: 0 auto;
}

#user .riwayat-pembelian .box-layanan .clr-block{
    background-color: #145DA0;
    height: 20px;
    border-radius: 10px 10px 0 0;
}

#user .riwayat-pembelian .box-layanan h3{
    font-size: 20px;
    font-weight: 700;
}

#user .riwayat-pembelian .box-layanan .status{
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    width: fit-content;
}

#user .riwayat-pembelian .box-layanan .ln{
    width: 300px;
    height: 1px;
    background: #b7b7b7;
    margin: 0 auto;
}

#user button{
    color: #000;
    background: none;
    font-size: 18px;
    border: none;
    font-weight: 500;
}

#user button:hover{
    text-decoration: underline;
}


#user .vid-thumbnail{
    width: 200px;
    height: 100px;
}

#user .vid-wraper{
    min-width: 200px;
}


#user .popup-overlay{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#user .popup-overlay .detail-order{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 800px;
}

#user .popup-overlay .detail-order td{
    padding-left: 60px;
}


@media (max-width: 1000px){
    #user .popup-overlay .detail-order{
        width: 600px;
    }
}


@media (max-width: 800px) {
    
    #user .riwayat-pembelian .box-layanan{
        width: 300px;
        min-height: 200px;
        max-height: 290px;
        margin: 0 auto;
    }

    #user .popup-overlay .detail-order{
        width: 300px;
    }

    #user .popup-overlay .detail-order td{
        padding-left: 0;
    }
}



@media (max-width: 800px){
    #user .vid-thumbnail{
        width: 320px;
        height: 180px;
    }

    #user .vid-wraper{
        width: 350px;
    }
}


/* ============= Payment =============== */


#payment .nav{
    background: var(--mainColor);
    height: 50px;
}

#payment .title{
    color: #fff;
}

#payment table{
    max-width: 700px;
}

#payment table td{
    width: 350px;
}

#payment .btn{
    background: var(--btnColor);
    color: #fff;
    font-weight: 500;
}


/* ============= Edit Profile =============== */


#edit-profile .nav{
    background: var(--mainColor);
    height: 50px;
}

#edit-profile .title{
    color: #fff;
}

/* ============= Reading Test =============== */

#hero {
    width: 100%;
    background: #fff;
    padding: 0;
    margin-top: 50px;
}


#hero img{
    width: 500px;
}

#hero .main{
    padding-top: 16vh;
    margin: 0 auto;
}

#hero .main h2{
    line-height: 1.5;
    font-weight: 600;
}

#hero .main p{
    font-size: 18px;
}

#hero .main .btn{
    color: #ffb700;
    text-decoration: none;
    font-size: 18px;
    border: #ffb700 1px solid;
}

#hero .main .btn:hover{
    color: #fff;
    background: #ffb700;
}

#hero .main .arrow{
    width: 28px;
    color: #007bff;
}

#read-test .instruction{
    background: #e0f4ff;
    
}

#read-test .instruction .container{
    background: #fff;    
}

#read-test .instruction .container h2{
    font-weight: 600;
}

#read-test .instruction li{
    font-size: 20px;
    line-height: 1.7;
}

#read-test p{
    font-size: 20px;
    line-height: 1.7;
}

#read-test .read-test{
    padding-top: 100px;
}

#read-test .read-test .category{
    max-width: 700px;
    margin: 0 auto;
}

#read-test .read-test .category .col{
    margin: 0 auto;
}


#read-test .read-test .category .btn-category{
    border: none;
    color: #3b566e;
    width: 150px;
}

#read-test .read-test .category .btn-category:hover{
    color: #3b566e;
    background: #fff;
    text-decoration: underline;
}

#read-test .read-test .category .list-article{
    list-style-type: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);

}
#read-test .read-test .category .list-article li{
    width: fit-content;
}

#read-test .read-test .category .list-article button{
    background: #fff;
}

#read-test .read-test .category .list-article .btn-title:hover{
    color:#2a7dca;
}

#read-test .read-test .category .list-article h4{
    font-size: 20px;
}

#read-test .read-test .category .list-article p{
    font-size: 16px;
    color: #3b566e;
}

#read-test .read-test h2{
    font-weight: 600;
}

#read-test .read-test .body-article{
    font-size: 18px;
    line-height: 1.7;
    max-width: 900px;
    margin: 0 auto;
}


#read-test .read-test .btn{
    font-size: 20px;
    font-weight: 500;
    color: #3b566e;
    border-color: #3b566e !important;
}

#read-test .read-test .btn:hover{
    background: #3b566e;
    color: #fff;
}


/* ============= Authentication =============== */

#auth{
    background:#2e8bc034;
    height: 100vh;
}

#auth label{
    color: #ACACAC;
}

#auth .card{
    margin: 0 auto;
}

#auth .card-title{
    font-size: 30px;
    font-weight: 700;
}

#auth .btn{
    color: #fff !important;
    background: #0d6efd !important;
}

#auth .btn-google{
    background-color: #fff;
    color: black !important;
}

#auth .error{
    background: #f7dddc;
}

#auth .error p{
    margin: 0 auto;
    padding: 10px 0;

}


/* ============= Quiz =============== */

#quiz{
    background: url('./assets/bgQuiz.png') no-repeat;
    background-size: cover;
    height: 100vh;
}

#quiz .card-title{
    font-size: 28px;
    font-weight: 600;
    color: #535353;
}

#quiz .question .col{
    min-width: 200px;
    margin: 0 auto;
}

#quiz .answare{
    width: 200px;
    border: 2px solid #007bff;
    font-size: 20px;
    font-weight: 600;
    margin: 0 auto;
    background: #fff;
    transition: 0.1s;
}


#quiz .wrong{
    color: #fff;
    background: #ff1f1f9f;
    border: 2px solid #ff1f1f27;
}

#quiz .correct{
    color: #fff;
    background: #0abd31b1;
    border: 2px solid #0abd3134;
}

#quiz .prev-arrow{
    transform: rotate(270deg);
    width: 25px;
}

#quiz .next-arrow{
    transform: rotate(90deg);
    width: 25px;
}

#quiz .btn{
    color: #fff;
    background: #007bff;
    font-size: 18px;
}


@media (max-width: 400px){
    #quiz{
        height: 120vh;
    }
}


/* ============= Footer =============== */


#footer-detlayanan{
    background-color: rgba(20, 93, 160, 0.80);
    color: #fff;
    height: 160px;
}

#footer-detlayanan .btn{
    background: #FF6044;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

#footer{
    background-color: var(--mainColor);
    color: #fff;
}

#footer h3{
    font-weight: 600;
}

#footer p{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

#footer ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 120px;
}

#footer a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

#footer a:hover{
    text-decoration: underline;
}